

.button {
    padding: 0.6rem 1.2rem;
    border: none;
    background-color: var(--btn-bg);
    font: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--btn-txt);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    letter-spacing: 0.03rem;
    white-space: nowrap;
    width: fit-content;
    outline: none;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: var(--btn-hover);
    }

    &:active {
        background-color: var(--btn-active);
    }

    &:disabled {
        background-color: var(--btn-disabled-bg);
        color: var(--btn-disabled-txt);
        pointer-events: all;
        cursor: default;
    }

    &.icon {
        padding: 0.6rem;
    }
}