
.nav-item {
    color: var(--nav-i-txt);
    margin: 0.25em 0;

    &__link {
        padding: 0.5em 1em;
        border-radius: 6px;
        display: flex;
        align-items: center;
    }

    &__link.-active {
        background-color: var(--nav-i-active-bg);
        color: var(--nav-i-actv-txt);
    }
}