body {
  margin: 1rem auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 600px;
}

.background {
  position: relative;
  min-width: 600px;
  min-height: 400px;
  width: 600px;
  height: 400px;
  background-image: url("./images/bg.jpg");
}

img {
  position: absolute;
}

.superman {
  bottom: 0;
  right: 35px;
}

.planet-3 {
  left: 150px;
  bottom: 20px;
  z-index: 10;
}

.planet-2 {
  left: 50px;
  top: 60px;
  z-index: 8;
}

.planet-1 {
  left: 180px;
  top: 20px;
}

.spaceship {
  left: 150px;
  top: 150px;
  z-index: 9;
}

.ufo {
  bottom: 50px;
  left: 120px;
  z-index: 11;
}

.asteroid {
  right: 110px;
  top: 75px;
}
