.header {
    position: sticky;
    top: 0;
    padding: 1.2rem 4rem;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-background);
    border-bottom: var(--header-border);
    z-index: 55;
}