*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 980px;
    --min-container-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ebedf3;
}

.with-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.container {
    max-width: var(--max-container-width);
    margin: 0 auto;
    width: 100%;
    min-width: var(--min-container-width);
}

header {
    background-color: white;
}

.header.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray {
    height: 29px;
    width: 100%;
}

.pink {
    width: 280px;
    height: 102px;
    background-color: pink;
}

.yellow {
    height: 102px;
    background-color: yellow;
    width: calc(980px - 280px);
}

.main {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.green {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: greenyellow;
    height: 335px;
    width: 100%;
}

.orange {
    background-color: orange;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    font-size: 0.8rem;
}

.purple {
    background-color: purple;
    height: auto;
}

.item {
    height: 65px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.item__img {
    height: 65px;
    width: 65px;
    background-color: aqua;
}

footer {
    width: 100%;
}

.footer.container {
    height: 296px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.1fr;
}

.red {
    background-color: red;
}

.orange-2 {
    background-color: darkorange;
}

.blue {
    background-color: blue;
}

.orange-3 {
    background-color: coral;
}

.black {
    height: 50px;
    background-color: darkgray;
    width: 100%;
}

.clr-white {
    color: white;
}