:root {
    --white: #ffffff;
    --dark-blue: #25304C;
    --dark-gray: #9195A0;

    --gray-10: #F5F6FA;
    --gray-20: #EBEDF3;
    --gray-30: #DFE1E8;
    --gray-40: #BEC3D0;

    --blue-10: #EEF7FF;
    --blue-20: #77A8D0;
    --blue-30: #0057B6;

    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: var(--white);
    --black-text-color: var(--dark-blue);
    --gray-text-color: var(--dark-gray);

    --block-border: 1px solid var(--gray-20);

    // HEADER
    --header-box-shadow: 4px 0px 20px var(--box-shadow-color);
    --header-background: var(--white);
    --header-border: var(--block-border);
    --header-height: 5em;

    // CARD
    --card-background: var(--white);

    // NAV_ITEM
    --nav-i-txt: var(--gray-text-color);
    --nav-i-hover: var(--black-text-color);
    --nav-i-active-bg: var(--blue-10);
    --nav-i-actv-txt: var(--blue-30);

    // NAVIGATION 
    --nav-width: 18em;
}